{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTMX</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {{ template "form" .Form }}
    <hr />
    {{ template "display" .Data }}
  </body>
</html>

{{ end }}

<!--  -->

{{ block "form" . }}

<form hx-post="/contacts" hx-swap="outerHTML">
  name:
  <input
    {{
    if
    .Values.name
    }}
    value="{{.Values.name}}"
    {{end}}
    type="text"
    name="name"
  />

  <br />
  email:
  <input
    {{
    if
    .Values.email
    }}
    value="{{.Values.email}}"
    {{end}}
    type="text"
    name="email"
  />

  {{if .Errors.email}}
  <div style="color: red">{{.Errors.email}}</div>
  {{end}}

  <button type="submit">Submit</button>
</form>

{{ end }}

<!--  -->

{{ block "display" . }}

<div id="display" style="display: flex; flex-direction: column">
  {{ range .Contacts }}

  <div>
    Name: <span>{{ .Name }}</span>
    <br />
    Email: <span>{{ .Email }}</span>
  </div>

  {{ end }}
</div>

{{ end }}
